# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Ruff
.ruff_cache/

# Telethon
*.session

# Visual Studio Code
.vscode/

# Raw data files
data/forbes/forbes.pdf
data/forbes/tr/PDFs/*.pdf
data/millman/millman_1995.pdf
data/millman/en/PDFs/*.pdf
